@import "../../assets/styles/styles.scss";

.football {
    display: flex;
    height: 100%;

    .playerCards {
        flex-grow: 0;
        height: 100%;
        overflow-y: scroll;
    }

    .team {
        flex-grow: 1;
    }
}