@import "../../assets/styles/styles.scss";

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
       height: 100px; 
    }
}

.football {
    display: flex;
    height: 100%;

    .playerCards {
        flex-grow: 0;
        height: 100%;
        overflow-y: scroll;
    }

    .team {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
        }

        .currentLineUp {
            display: flex;
            justify-content: center;

            
            .playerIcon {
                display: flex;
                align-items: center;
                border: 1px solid black;
                border-radius: $base-spacing;
                margin: $base-spacing;

                > * {
                    padding: $base-spacing;
                }

                .remove:hover{
                    color: red;
                }
            }
        }
    }
}