@import "../../../assets/styles/styles.scss";

.warning{
    position: absolute;
    left: 0;
    bottom: 50%;
    display: flex;
    justify-content: center;
    width: 100%;

    p{  
        width: fit-content;
        background-color: white;
        border: black 1px solid;
    }
}

.playerCard {
    margin: $base-spacing;
    padding: $base-spacing;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin: 0px;
    }

    .info {

    }

    .actions {
        font-size: $text-size * 1.5;
        :hover {
            color:green;
        }
    }   
}