@import "../../../assets/styles/styles.scss";

.weatherCard {
    margin: $base-spacing;
    padding: $base-spacing;
    background-color: rgb(252, 252, 220);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        width: 20%;
    }
}